.footer-layout {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-item-layout {
    float: left;
}

.footer-link-layout {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}