@use '@carbon/react';
@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes';

/* system preference theme by default */
:root {
  @include themes.theme($g10);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include themes.theme($g100);
  }
}

/* Header layout */

/* Footer layout */
.footer-item-layout {
    float: left;
}

.footer-link-layout {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
