@use "@carbon/react" with ($use-flexbox-grid: true);

// Global Seperator
.section-margin {
    margin-bottom: 5rem;
}

.subsection-margin {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.global-left-margin {
    margin-right: 1rem;
}