.newservice-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 0rem 1rem 1rem 0rem;
    height: 40vh;
    width: auto;
    display: flex;
}

.newservice-intro {
    display: flex;
    align-items: center;
}